In [31]:
import pandas as pd
import numpy as np
df = pd.read_csv('miami-housing.csv')
df.head()

,LATITUDE,LONGITUDE,PARCELNO,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality
0,25.891031,-80.160561,622280070620,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4
1,25.891324,-80.153968,622280100460,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4
2,25.891334,-80.153740,622280100470,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4
3,25.891765,-80.152657,622280100530,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4
4,25.891825,-80.154639,622280100200,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4

In [32]:
#remove lat, long, parcelno and month sold.
del df["LATITUDE"]
del df["LONGITUDE"]
del df["PARCELNO"]
del df["month_sold"]

In [58]:
params = df[["LND_SQFOOT", "TOT_LVG_AREA", "SPEC_FEAT_VAL",  "RAIL_DIST",  "OCEAN_DIST", "WATER_DIST",  "CNTR_DIST",  "SUBCNTR_DI",  "HWY_DIST",  "age",  "avno60plus"]]
prices = df['SALE_PRC']

#struct_quality = pd.Series(list('structure_quality'))
struct_quality = pd.get_dummies(df.structure_quality)
struct_quality.rename(columns = {1:'structure_quality_1', 2:'structure_quality_2',3:'structure_quality_3',4:'structure_quality_4',5:'structure_quality_5'}, inplace=True)
params.join(struct_quality.astype(int))

,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,structure_quality_1,structure_quality_2,structure_quality_3,structure_quality_4,structure_quality_5
0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,0,0,0,1,0
1,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,0,0,0,1,0
2,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,0,0,0,1,0
3,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,0,0,0,1,0
4,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13927,6780,967,6580,3844.5,20568.0,3252.4,22175.9,12150.1,917.4,16,0,0,0,0,1,0
13928,7500,1854,2544,3593.6,20791.9,3077.7,22375.1,12316.8,738.2,26,0,0,0,0,1,0
13929,8460,1271,2064,4143.2,20307.9,3588.4,20966.9,12433.0,743.7,16,0,0,0,0,1,0
13930,7500,1613,3136,3986.9,20542.6,3589.1,21475.6,12458.0,626.1,16,0,0,0,0,1,0
13931,8833,1867,266,3793.9,20859.6,3421.0,21928.6,12599.0,474.7,62,0,0,0,0,1,0

In [61]:
import statsmodels.api as sm

params = sm.add_constant(params)
model = sm.OLS(prices, params).fit()

model.pvalues

const            3.278859e-216
LND_SQFOOT        5.450485e-09
TOT_LVG_AREA      0.000000e+00
SPEC_FEAT_VAL    5.177754e-129
RAIL_DIST         3.238030e-70
OCEAN_DIST       1.130918e-102
WATER_DIST        1.043494e-03
CNTR_DIST        5.746063e-192
SUBCNTR_DI        5.474745e-04
HWY_DIST         3.744641e-107
age              1.473656e-121
avno60plus        4.259848e-03
dtype: float64

In [62]:
model.params

const            295671.762281
LND_SQFOOT            1.866003
TOT_LVG_AREA        208.322609
SPEC_FEAT_VAL         3.338945
RAIL_DIST             5.373248
OCEAN_DIST           -3.047004
WATER_DIST           -0.824711
CNTR_DIST            -3.883043
SUBCNTR_DI           -0.574958
HWY_DIST              6.640570
age               -2349.182027
avno60plus       -37979.846547
dtype: float64

In [63]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression(fit_intercept=False)
regressor.fit(params, prices)
regressor.coef_

array([ 2.95671762e+05,  1.86600292e+00,  2.08322609e+02,  3.33894460e+00,
        5.37324799e+00, -3.04700358e+00, -8.24711169e-01, -3.88304304e+00,
       -5.74957659e-01,  6.64056991e+00, -2.34918203e+03, -3.79798465e+04])