In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('miami-housing.csv')
df.head()

,LATITUDE,LONGITUDE,PARCELNO,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality
0,25.891031,-80.160561,622280070620,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4
1,25.891324,-80.153968,622280100460,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4
2,25.891334,-80.153740,622280100470,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4
3,25.891765,-80.152657,622280100530,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4
4,25.891825,-80.154639,622280100200,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4

In [7]:
#remove lat, long, parcelno and month sold.
del df["LATITUDE"]
del df["LONGITUDE"]
del df["PARCELNO"]
del df["month_sold"]

In [8]:
df_matrix = df.to_numpy()
print(df_matrix[:5])

[[4.40000e+05 9.37500e+03 1.75300e+03 0.00000e+00 2.81590e+03 1.28114e+04
  3.47600e+02 4.28153e+04 3.77422e+04 1.59549e+04 6.70000e+01 0.00000e+00
  8.00000e+00 4.00000e+00]
 [3.49000e+05 9.37500e+03 1.71500e+03 0.00000e+00 4.35910e+03 1.06484e+04
  3.37800e+02 4.35049e+04 3.73405e+04 1.81250e+04 6.30000e+01 0.00000e+00
  9.00000e+00 4.00000e+00]
 [8.00000e+05 9.37500e+03 2.27600e+03 4.92060e+04 4.41290e+03 1.05741e+04
  2.97100e+02 4.35304e+04 3.73287e+04 1.82005e+04 6.10000e+01 0.00000e+00
  2.00000e+00 4.00000e+00]
 [9.88000e+05 1.24500e+04 2.05800e+03 1.00330e+04 4.58500e+03 1.01565e+04
  0.00000e+00 4.37975e+04 3.74232e+04 1.85144e+04 6.30000e+01 0.00000e+00
  9.00000e+00 4.00000e+00]
 [7.55000e+05 1.28000e+04 1.68400e+03 1.66810e+04 4.06340e+03 1.08368e+04
  3.26600e+02 4.35997e+04 3.75508e+04 1.79034e+04 4.20000e+01 0.00000e+00
  7.00000e+00 4.00000e+00]]

In [9]:
prices = df_matrix[:, 0]
params = df_matrix[:, 1:]

In [10]:
#changing structure quality into one hot.
structure_quality = params[:, -1].astype(int)
n_values = np.max(structure_quality) + 1
structure_quality_one_hot = np.eye(int(n_values)-1)[np.array(structure_quality)-1]
structure_quality = pd.DataFrame(structure_quality_one_hot, columns = ["structure_quality_1",  "structure_quality_2", "structure_quality_3", "structure_quality_4", "structure_quality_5"])

In [11]:
new_df = df[["SALE_PRC", "LND_SQFOOT", "TOT_LVG_AREA", "SPEC_FEAT_VAL",  "RAIL_DIST",  "OCEAN_DIST", "WATER_DIST",  "CNTR_DIST",  "SUBCNTR_DI",  "HWY_DIST",  "age",  "avno60plus"]].join(structure_quality)
new_df.to_csv('newdata.csv', index=False, na_rep='Unknown')